/* general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* header */

header{
    background-color: #0084FD;
    width: 100%;
    height: 4rem;
}

.navbar{
    max-width: 1000px;
    height: 100%;
    padding-inline: 2rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 1.3rem;
}

.list{
    color: white;
    text-decoration: none;
}

.started{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.hamburger{
    display: none;
    color: white;
    font-size: 25px;
}

@media screen and (max-width:768px) {
    .hamburger{
        display: block;
    }

    .menu{
        display: none;
    }
}

/* main, prima finestra  */

.white{
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.container{
    max-width: 1000px;
    padding-inline: 2rem;
    margin-inline: auto;
}

.one{
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.big-cell{
    width: calc((2 * ((100% - 2rem) / 3)) + 1rem);
    background-color: #B5DDFF;
    border-radius: 20px;
    display: flex;
}

.under-cell-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 3rem 0 3rem 1rem;
}

.demo{
    color: #0084FD;
    font-size: 20px;
}

.text{
    color: #5A6E7F;
    font-weight: bold;
}

.apple{
    color: white;
    background-color: #0084FD;
    text-decoration: none;
    padding: 0.5rem 4rem;
    border-radius: 20px;
}

.under-cell-two{
    width: 50%;
}

.phone{
    width: 90%;
    margin-inline: auto;
    display: block;
    margin-top: 3.5rem;
}

@media screen and (max-width:768px){
    .big-cell{
        flex-direction: column;
    }

    .under-cell-one{
        margin: 1rem 1rem 0 1rem;
    }

    .phone{
        margin-top: 1rem;
    }
}

/* fine prima cell, inizio rimanenti */

.small-cell{
    width: calc((100% - 2rem ) / 3);
    background-color: #B5DDFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.fa-file-code{
    color: #0084FD;
    font-size: 80px;
}

.fa-edit{
    color: #0084FD;
    font-size: 80px;
}

.fa-laptop-code{
    color: #0084FD;
    font-size: 80px;
}

.fa-code-branch{
    color: #0084FD;
    font-size: 80px;
}

@media screen and (max-width:480px) {
    .one{
        flex-direction: column;
    }

    .big-cell{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .under-cell-one{
        align-items: center;
        width: 100%;
        padding-inline: 2rem;
    }

    .small-cell{
        width: 100%;
    }
} 

/* fine prima finestra del main, inizio seconda */

.violet{
    background-color: #9792E4;
    width: 100%;
}

.due{
    max-width: 700px;
    display: flex;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.colonna-uno{
    width: 50%;
}

.planning1{
    width: 100%;
    margin-bottom: 5rem;
}

.strategic{
    color: white;
    margin-bottom: 1.5rem;
    font-size: 26px;
}

.text-white{
    color: white;
    font-size: 15px;
}

/* seconda colonna */

.colonna-due{
    margin-top: 6rem;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3rem;
    border-radius: 30px;
    padding: 1rem 2rem 2rem 2rem;
}

.planning2{
    width: 100%;
}

.text-italic{
    font-style: italic;
}

.fa-arrow-down{
    background-color:#9792E4;
    border-radius: 200px;
    padding: 1rem;
}

@media screen and (max-width:768px){
    .due{
        flex-direction: column;
    }
    
    .colonna-uno{
        width: 100%;
    }

    .strategic{
        font-size: 40px;
    }

    .colonna-due{
        width: 100%;
        margin-top: 0;
    }
}

/* terza sezione */

.tre{
    text-align: center;
}

.partners{
    padding: 2rem;
    color: #9792E4;
    font-size: 35px;
}

.card{
    width: 100%;
    background-color: #9792E4;
    margin: 2rem 0;
    border-radius: 30px;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: white;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.testimonial{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.description{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media screen and (max-width:480px){
    .card{
        flex-direction: column;
        align-items: center;
    }

    .description{
        align-items: center;
    }
}

/* quarta sezione */

.with-us{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 3rem 0;
}

.quattro{
    height: px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-inline: 2rem;
    padding-bottom: 4rem;
}

.square{
    background-color: white;
    border-radius: 20px;
    width: calc((100% - 3rem) / 3);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.number{
    font-size: 50px;
    color: #9792E4;
}

.quality{
    font-size: 23px;
    color: #9792E4;
}

.square-text{
    font-size: 14px;
    color: #5A6E7F;
}

.more{
    background-color: #9792E4;
    color: white;
    text-decoration: none;
    padding: 0.3rem 2rem;
    border-radius: 30px;
}

@media screen and (max-width:768px){
    .square{
        flex-basis: calc((100% - 1.5rem) / 2);
    }
}

@media screen and (max-width:480px){
    .square{
        flex-basis: 100%;
    }
}
